/* Resetează marginile și spațierile implicite */
/* Sablon https://framer.com/projects/about-html--001szsyrdZN2iXAx8ZNF-ewqlA?node=augiA20Il */
/* Icon from https://www.onlinewebfonts.com/icon/598338 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    /* Înălțimea containerului să fie aceeași cu înălțimea viewport-ului */
}

.image-container {
    position: fixed;
    /* Fixează imaginea în partea stângă */
    top: 0;
    left: 0;
    width: 50vw;
    /* 50% din lățimea viewport-ului */
    height: 100%;
    /* 100% din înălțimea viewport-ului */
    overflow: hidden;
    /* Ascunde orice parte a imaginii care depășește containerul */
     filter: brightness(0.8)
}

.image-container img {
    height: 100%;
    width: auto;
    /* Păstrează proporțiile imaginii */
}

.text-container {
    margin-left: 45%;
    /* Asigură că textul începe după imagine */
    width: 50vw;
    /* Ocupă restul de 50% din lățimea viewport-ului */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    height: 50vi;
}

h3 {
    color: #F29494;
    font-size: 64px;
}

.button-home {
    background-color: #000;
    color: #fff;
    width: 100px;
    height: 40px;
    margin-left: 0px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 10px;
}

.button-read-more {
    background-color: #EBEBEB;
    color: #000;
    width: 150px;
    height: 40px;
    margin-left: 0px;
    font-size: 25px;
    margin-top: 20px;
    border: 0px;
  
    border-radius: 10px;
}

section {
    padding-top: 10%;
    
}

.container-skill {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* ajustați în funcție de dimensiunea dorită */
    margin: 5%;
}


.box {
   /* border: 1px solid black; */
    box-sizing: border-box;
}

.small {
    width: calc(20% - 5%); /* ajustați în funcție de distanța dorită între elemente */
    height: 5%; /* ajustați în funcție de dimensiunea dorită */
    margin-right: 6px;
    transform: translateY(10%);
}
