body {
  margin: 0;
  padding: 0;
  background-color: black;

}


a {
  color: white;
  text-decoration: underline;
  padding: 10px;
}

a:after {
  color: red;
}



a:active {
  color: white;
}



h2 {
  font-size: 40px;
  line-height: 2px;
}



nav {
  list-style-type: none;

  overflow: hidden;
  background-color: black;
  height: 69px;
}

.menu {
  height: 69px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: space-between;

}

.navigate {
  font-size: 22px;
  margin-top: 20px;
  margin-right: 10px;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  align-content: center;
  border-bottom: 2px solid white;
  z-index: 1000;
}

main {
  padding-top: 69px;
}



.logo {
  height: 50px;
  margin-left: 10px;
  margin-top: 9.5px;
}

.mission {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;
}


.mission-img {
  width: 90%;
  height: 800px;
  display: block;
  margin: 0 auto;
}

.mission-img-background {
  background-image: url('img/img-mission-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 700px;
  display: flex;
  margin: 0 auto;
}




.location {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;
}

.location-img {
  height: 500px;
  width: 90%;


}

.location-img-background {
  background-image: url('img/img-locations-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 500px;
  display: flex;
  margin: 0 auto;
}

.titles {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
}

.text-overlay h2,
.text-overlay h4 {
  margin: 0;
  padding: 0.7em;
  background-color: rgba(0, 0, 0, 1);
}

.feature {
  text-align: center;
  color: white;
  padding-top: 50px;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 10px auto;

}

.card {
  flex-basis: 300px;
  margin: 0 auto 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  padding: 10px;
  justify-content: center;
}

.img-product {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;

}

.text-overlay-location {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
}

.text-overlay-location h2,
.text-overlay-location h4 {
  margin: 0;
  padding: 0.7em;
}

h3 {
  font-size: 23px;
}

.contact {
  margin: 0 auto;
  color: white;
  text-align: center;

}

h5 {
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
}

footer {
  color: white;
  text-align: left;
  margin: 20px;
}