body {
    font-family: Arial, sans-serif;
    background-color: #E9EBDE;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background-color: #DBEAE3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.contact-form h1 {
    text-align: center;
    color: #fff;
    background-color: #B0BCC8;
    margin: -20px -20px 20px -20px;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
    padding: 6px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #d8b4e2;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #464147;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #3a1375;
}

.form-group input,
.form-group textarea,
.form-group select {
    background-color: #63C4D4;
    border-radius: 10px;
}

.select2-container--default .select2-selection--single {
    height: 3%;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #63C4D4;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
    background-color: #63C4D4;
}

.select2-container--default .select2-results__option {
    display: flex;
    align-items: center;
    background-color: #63C4D4;
    
}

.select2-container--default .select2-results__option span {
    margin-right: 0;
    background-color: #63C4D4;
    
}

.img-flag {
    width: 4%;
    height: 4%;
    margin-right: 0;
    background-color: #63C4D4;
}