* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    position: relative; /* Adăugat pentru a permite poziționarea absolută a titlului */
}

.card {
    width: 50%;
    padding: 20px;
}

.fixed-card {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50%;
    z-index: 1;
    background-color: #f9f9f9;
}

.image-profile {
    background-image: url('/images/my_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container .card:not(.fixed-card) {
    margin-left: 50%;
    padding-left: 20px;
}

.h-title {
    position: absolute;
    z-index: 2;
    margin: 300px 0 0 -11vw;
    padding: 4.2vw;
    font-size: 4.2vw;
    line-height: 1.2;
    font-weight: 800;
    color: #fff;
    background: #373b40;
    word-break: break-word;
    border-radius: 264px;
}

.start-description {
    position: relative;
    top: calc(300px + 4.2vw + 20px); /* Ajustează această valoare în funcție de necesități */
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .fixed-card {
        position: static;
        height: auto;
        width: 100%;
    }

    .container .card:not(.fixed-card) {
        margin-left: 0;
        width: 100%;
        padding-left: 0;
    }

    .image-profile {
        width: 100%;
        height: 200px;
    }

    .h-title {
        position: static;
        margin: 10px 0;
        padding: 10px;
        font-size: 24px;
    }

    .start-description {
        margin-top: 0;
        position: static; /* Resetarea poziției relative */
    }
}
