

p {
    text-align: justify;
    text-align: left;
    /* margin-top: 5px;*/
    /* padding-top: 10px; */

}

h1,h2,
h3,
h4,
h5,
h6 {
    color: #370050;

}

h1 {
    /** line-height: 2px; **/
    font-size: 60px;
    text-decoration: solid underline overline;
}

a {
    color: #17AB33;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

a:after {
    color: red;
}

a:active {
    color: white;
}

button {
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 20px;

}

/***
li::marker {
    color: red ;

}
***/
ul {
    list-style-type: none;
}

h2 {
    font-size: 40px;
    line-height: 2px;
}